html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  overflow: hidden;
}

/*--------------------------------!!1 Header !!!----------------------------------------*/

.header {
  display: flex;
  width: 100%;
}

/* ---------------------------------!!!! left - Header!!!!! -----------------------------*/

.header-left {
  background-color: rgb(45, 55, 72);
  padding: 0.75rem 1rem;
  width: 17.7%;
  border: 0 solid#e2e8f0;
  box-sizing: inherit;
}
.header-left-content {
  background-color: rgb(45, 55, 72);
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: inherit;
  color: inherit;
  border: none;
}
.header-left-pic {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 75%;
}
.header-left-name {
  color: white;
  margin-left: 1rem;
  margin-right: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  position: absolute;
  margin-top: 5px;
}
.arrow-down {
  filter: brightness(0) invert(1);
  height: 0.8rem;
  width: 0.8rem;
}

/*--------------------------------------------------!!! Right-Header !!!!--------------------------- */
.header-right {
  display: flex;
  align-items: center;
  background-color: rgb(74, 85, 104);

  width: 80%;
}
.nav-bar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 1.5rem;
}

.nav-bar-item {
  color: white;
  line-height: 14px;
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.nav-bar-item1 {
  background-color: #2d3748;
  border-radius: 7px;
}
.on-hover:hover {
  background-color: rgb(171, 179, 192);
  border-radius: 7px;
}

/*--------------------------!!!!!!!! Search-Icon  !!!!!!!!!---------------------*/
.header-right-end {
  margin-left: 21rem;
  /* background-color: #1a202c; */
}
.header-right-search-icon {
  filter: brightness(0) invert(1);
  height: 1rem;
  width: 1rem;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  /* padding: 3px 0; */
  /* margin-left: 20rem; */
}
.header-right-input {
  /* margin-left: 5rem; */
  background-color: #1a202c;
  border: 0;
  border-radius: 10px;
  padding: 10px 32px;
  /* padding: 10px; */
  /* margin-left: 2rem; */
}
.notification-icon,
.question-icon {
  filter: brightness(0) invert(1);
  height: 15px;
  width: 15px;
  margin-left: 25px;
  /* padding-top: 10px; */
}
.question-icon {
  padding-right: 25.5px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-----Hero-Section----!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.hero {
  display: flex;
  box-sizing: inherit;
  width: 100%;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!----Hero-Left------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-----INBOX--------!!!!!!!!!!!!!!!!!!!!!!!!!! */
.hero-left {
  width: 17.6%;
  padding: 1.5rem;
  background-color: #f7fafc;
}
.hero-left-title {
  font-size: 0.75rem;
  color: #718096;
  font-weight: 600;
}
.hero-left-inbox {
  /* margin-top: 0.5rem; */
  /* background: #e2e8f0; */
  border-radius: 10px;
}
.hero-left-inbox-nav {
  background: #e2e8f0;
  font-size: 0.875rem;
  padding: 0.5rem 1.3rem;
  margin: 0 -0.75rem;
  margin-top: 0.75rem;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0.5rem;
  text-decoration: none;
}
.hero-left-inbox-nav-1 {
  background-color: #f7fafc;
  font-size: 0.875rem;
  padding: 0.5rem 1.3rem;
  margin: 0 -0.75rem;
  margin-top: 0.75rem;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0.5rem;
  text-decoration: none;
}
.hero-left-inbox-nev-content {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}
.hero-left-inbox-icon {
  width: 1.3rem;
  height: 1.3rem;
}
.hero-left-inbox-content {
  margin-left: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: black;
}
.hero-left-inbox-number {
  color: black;
  margin-top: 3px;
  padding-top: 8px;
  width: 45px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #e2e8f0;
}
.hero-left-inbox-number-1 {
  color: black;
  margin-top: 3px;
  padding-top: 8px;
  width: 45px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #e2e8f0;
}
.hero-left-inbox-nav-1:hover {
  background-color: #d5dde2;
}

/* !!!!!!!!!!!!!!!!!!!!!------------------FOLDER------------!!!!!!!!!!!!!!!!!! */

.hero-left-folder {
  font-size: 0.75rem;
  color: #718096;
  margin-top: 2rem;
  font-weight: 600;
  line-height: 1.5;
}
.hero-left-folder-content {
  margin-top: 1rem;
  box-sizing: inherit;
}
.hero-left-folder-item {
  font-size: 1rem;
  color: #4a5568;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

/* ..................................--------MAIN----------------!!!!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!!!---------------Hero-----------------!!!!!!!!!!!!!!!!!1 */

.hero-main {
  display: flex;
  background-color: #edf2f7;
  width: 85%;
}

/* !!!!!!!!!!!!!!!!!-----------------Hero-left-------------!!!!!!!!!!!!!!!!!!! */

.hero-main-left {
  /* width: 100%; */
  width: 20rem;
  /* padding: 0 2rem; */
  display: flex;

  flex-direction: column;

  background-color: #edf2f7;

  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
}
.hero-main-left-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.hero-main-left-title-btn {
  border: none;
  background: transparent;
  box-sizing: border-box;
  color: #70829f;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
}
.hero-arrow-down {
  margin-left: 5px;
  filter: brightness(0) invert(0);
  height: 0.5rem;
  width: 0.5rem;
}
.hero-sort {
  filter: brightness(0) invert(0.55);
  height: 1.3rem;
  width: 1.2rem;
  margin-right: 17px;
}
/* .hero-main-left-allContent {
  overflow-y: scroll;
  box-sizing: border-box;
  max-height: 100vh;
} */
.scroll-bar {
  overflow-y: scroll;
  box-sizing: border-box;
  max-height: 100vh;
}

.hero-main-left-content {
  padding: 0.75rem 1.5rem;
  display: block;
  background-color: #fff;
  border-bottom-width: 1px;
}
.hero-main-left-title {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0;
}
.hero-main-left-title-name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #1a202c;
}
.hero-main-left-title-duration {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #718096;
}
.hero-main-left-content-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #4a5568;
  border: none;
  box-sizing: border-box;
}
.hero-main-left-content-para {
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 400;
  color: #718096;
  margin-top: 0.5rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* !!!!!!!!!!!!!!!!!!!!!!---------Hero-right---------------!!!!!!!!!!!!!!! */

.hero-main-right {
  width: 48.5rem;
  display: flex;
  flex-direction: column;
  border: none;
  box-sizing: border-box;
}
.hero-main-right-title {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);
  position: relative;
  /* border-bottom: 1px solid red; */
}
.hero-main-right-properties {
  /* padding: 0.75rem 1rem; */
  border-bottom-width: 1px;
  background-color: #f7fafc;
  box-sizing: border-box;
  /* border-bottom: 0.5px solid red; */
}
.hero-main-right-title-box {
  display: flex;
  justify-content: space-between;
  padding: 0.55rem 1rem;
  color: #718096;
  box-sizing: border-box;
  border-bottom: 0.5px solid grey;
}
.hero-main-right-icon-box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* margin-left: 1rem; */
}
.hero-main-right-back-btn,
.hero-main-right-label-btn {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  margin-left: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hero-main-right-back-arrow,
.hero-main-right-label-icon {
  height: 1.3rem;
  width: 1.3rem;
  border: none;
  filter: brightness(0) invert(0.4);
}

.hero-main-right-next-btn {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-left: 10rem;
}
.hero-main-right-arrow-down,
.hero-main-right-arrow-up {
  border: none;
  filter: brightness(0) invert(0.4);
  background: transparent;
}

.hero-main-right-arrow-down-icon,
.hero-main-right-arrow-up-icon {
  height: 10px;
  width: 10px;
}

.hero-main-right-heading {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  /* box-sizing: border-box; */
}
.hero-main-right-heading-content {
  font-size: 1.25rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hero-main-right-heading-status {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* margin-right: 1rem; */
  align-items: center;
}
.hero-main-right-heading-active {
  background: #9ae6b4;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
}
.hero-main-right-message {
  overflow-y: auto;
}
.hero-main-right-message-allContent {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.6);
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: none;
  box-sizing: border-box;
}
.hero-main-right-message-flex {
  display: flex;
  justify-content: space-between;
}
.hero-main-right-message-title {
  font-weight: 600;
  color: #1a202c;
  font-size: 17px;
  line-height: 24px;
}
.hero-main-right-message-sub-title {
  font-size: 14px;
  line-height: 24px;
  margin-left: 9px;
  font-weight: 700;
  color: #718096;
}
.hero-main-right-message-time {
  font-size: 14px;
  line-height: 21px;
  margin-right: 10px;
  font-weight: 400;
  color: #a0aec0;
}
.hero-main-right-message-para {
  font-size: 0.875rem;
  line-height: 21px;
  color: #4a5568;
  padding: 1.5rem 0;
}
